.money_row {
	display: inline;
	width: 800;
}

th, td {
	border: 1px solid black;
	padding: 3px;
}

.data_table {
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid black;
	border-collapse: collapse;
}

.job_popup {
	z-index: 1;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50px;
	left: 50px;
	background-color: #cabc61;
}
